@charset "utf-8";

p.blocktext {
	padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

p.blocktextAlt {
	padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50em
}
